<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.cynoteck.petofyOPHR">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo_petofy"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/logo_petofy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.AllVisitsActivity" />
        <activity android:name=".activities.UpcomingVisitsActivity" />
        <activity android:name=".activities.GetAllBankAccountsActivity" />
        <activity android:name=".activities.BankAccountDetailsActivity" />
        <activity android:name=".activities.AddEditImmunizationActivity" />
        <activity android:name=".activities.ImmunizationChartActivity" />
        <activity android:name=".activities.PetProfileActivity" />
        <activity android:name=".activities.SettingActivity" />
        <activity android:name=".activities.StaffPermissionActivity" />
        <activity android:name=".activities.OperatingHoursActivity" />
        <activity android:name=".activities.AddUpdateAppointmentActivity" />
        <activity android:name=".activities.ViewFullProfileVetActivity" />
        <activity
            android:name=".activities.PetIdCardActivity"
            android:screenOrientation="landscape"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".activities.AddNewPetActivity" />
        <activity android:name=".activities.AddHospitalizationDeatilsActivity" />
        <activity android:name=".activities.AddLabWorkDeatilsActivity" />
        <activity android:name=".activities.AddXRayDeatilsActivity" />
        <activity android:name=".activities.HospitalizationDetailsActivity" />
        <activity android:name=".activities.LabTestReportDeatilsActivity" />
        <activity android:name=".activities.XRayReportDeatilsActivity" />
        <activity android:name=".activities.ViewReportsDeatilsActivity" />
        <activity android:name=".activities.PetDetailsActivity" />
        <activity android:name=".activities.NewEntrysDetailsActivity" />
        <activity android:name=".activities.AddClinicActivity" />
        <activity
            android:name=".activities.ReportsCommonActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.CommonActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.AddPetRegister"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.UpdateProfileActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.DashBoardActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.GetPetDetailsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.RegisterActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.SelectPetReportsActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".utils.MyService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>